*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: lato;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 600px;
    height: 340px;
    display: grid;
    grid-template-areas: 'header header'
    'aside footer' 
    ;
    grid-template-rows:  130px;
}

.card_1{
    border-radius: 4px 4px 0px 4px;
padding: 10px;
    background-color: hsl(204, 43%, 93%);
grid-area: header;
}
.card_1 .card-lead{
    color: hsl(218, 22%, 67%);
}
.card_2 .card-content{

}
.card_3{
    grid-area: footer;
}
.card-title{
    font-size: 28px;
    color: hsl(179, 62%, 43%);
}
.card-subtitle{
    font-size: 18px;
    color: hsl(71, 73%, 54%);
}
.card_2{
    background-color: hsl(179, 62%, 43%);
    color: #fff;
}
.card_2 button{
    padding: 8px 5.6rem;
    display: block;
    color: hsl(204, 43%, 93%);
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 4px;
    outline: none;
}
.card_2 h3{
    font-size: 20px;
}

.card-content{
    margin: 20px;
}
.card-content p{
    margin: 5px 0;
}
.price{
    margin: 5px 0;
}
.card_3{
    background-color: hsl(179, 62%, 43%);
    opacity: 0.4;
    color: #fff;
}
.card_1 .card-subtitle{
    margin: 5px 0;
}
.card-contents{
    margin :10px 0;
}
.card{
    display: flex;
    align-items: center;
}
.card_2, .card_3 {
    border-radius: 0px 0px 4px 4px;
}
@media(max-width: 600px) {
.container{
 grid-template-areas: 'header'
 'aside'
 'footer';
 grid-template-columns: 1fr;
 gap: 10px;

}
.card{
    margin-bottom: 10px;

}
}